.results {
    margin-top: 20px;
    text-align: left;
    /* Alinear el texto a la izquierda */
}

.results div {
    margin-bottom: 15px;
}

.results img {
    margin-top: 5px;
}

.results {
    margin-top: 20px;
}

.band-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas */
    gap: 20px;
    /* Espacio entre tarjetas */
}

.band-card {

    padding: 10px;
    border: 1px solid #ddd;
    /* Borde gris claro */
    text-align: center;
    /* Centrar el texto */
}